* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}
.cv {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.about-me {
    margin: 15px;
    border-radius: 20px;
    background-color: #247C6E;
    height: 100%;
}
.image img {
    padding: 15px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin: 5px auto;
}
h2 {
    padding: 0px 30px;
    color: white;
}
p {
    font-size: 1rem;
    padding: 5px 30px;
    color: white;
}
.contact {
    padding: 30px 0 30px 0;
}
.contact i {
    background-color: white;
    color: #247C6E;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 6px;
}
.language {
    font-size: 1rem;
    padding: 5px 30px;
    color: white;
}
.lang {
    background-color: white;
    color: #247C6E;
    text-align: center;
    padding: 6px;
}
ul {
    padding: 10px 35px;
}
ul li {
    padding: 6px 0;
}
.expertise {
    font-size: 1rem;
    padding: 5px 30px;
    color: white;
}
.exp {
    background-color: white;
    color: #247C6E;
    text-align: center;
    padding: 6px;
}
.contact-me {
    font-size: 1rem;
    padding: 5px 30px;
    color: white;
}
.contact1 {
    background-color: white;
    color: #247C6E;
    text-align: center;
    padding: 6px;
}
.contactbtn1 {
    padding-top: 20px;
    display: flex;
    align-items: center;
}
#cbtn {
    background-color: white;
    color: #247C6E;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 8px;
    
}



.information {
    height: 100%;
}
.fname {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px 0 0 15px;
    color: #247C6E;
}
.lname {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #247C6E;
}
.title-bar {
    margin-left: 15px;
    padding-top: 20px;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #247C6E;
}
.detial {
   padding-top: 5px;
   color: #247C6E;
   text-align: justify;
}
.experence-bar {
    margin-left: 15px;
    padding-top: 30px;
}
.experence {
    background-color: #247C6E;
    color: white;
    width: 600px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.timeline {
    position: relative;
    padding-left: 10px;
}
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: #cccccc;
}
.entry {
    margin-bottom: 20px;
    position: relative;
}
.entry::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 15px;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
}
.entry .exp1 {
    margin: 0;
    padding-top: 13px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.entry .date {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
    color: #555555;
    padding-top: 6px;
    padding-left: 10px;
}
.entry .detls {
    margin: 5px 0 0 0;
    font-size: 1rem;
    color: #666666;
    padding-top: 6px;
    padding-left: 10px;
    text-align: justify;
}
.education-bar {
    margin-left: 15px;
    padding-top: 30px;
}
.education {
    background-color: #247C6E;
    color: white;
    width: 600px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.timeline {
    position: relative;
    padding-left: 10px;
}
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: #cccccc;
}
.entry {
    margin-bottom: 20px;
    position: relative;
}
.entry::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 15px;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
}
.entry .edu {
    margin: 0;
    padding-top: 13px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.entry .date {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
    color: #555555;
    padding-top: 6px;
    padding-left: 10px;
}

.entry .detls {
    margin: 5px 0 0 0;
    font-size: 1rem;
    color: #666666;
    padding-top: 6px;
    padding-left: 10px;
    text-align: justify;
    font-size: 1.5rem;
}